<div class="nav_links">
	<div class="nav_link">
		<%= link_to "home", root_url, :class => "nav_link" %>
	</div>
	<div class="nav_link">
		<%= link_to "rss", feed_posts_url %>
	</div>
	<div class="nav_link">
		<%= link_to "buy",  tagged_posts_url(:tag => "for_sale"), :class => "nav_link" %>
	</div>
	<div class="nav_link">
		<%= link_to "about", about_index_path, :class => "nav_link" %>
	</div>
</div>

<div id="header_visual">
</div>
