<div id="top_navigation_bar">
	<div id="whats_my_name" class="navigation_link">
		<%= link_to "masha lifshin", root_url, :class => controller.class == PostsController ? "nav_link current" : "nav_link", :id => "my_name" %>
	</div>
	<div id="about_link" class="navigation_link">
		<%= link_to "about me", about_index_path, :class => controller.class == AboutController ? "nav_link current" : "nav_link" %>
	</div>
</div>

<div id="header_visual">
</div>
