<div class="top_navigation_bar">
	<%= link_to "masha lifshin", root_url, :class => controller.class == PostsController ? "nav_link current" : "nav_link", :id => "my_name" %>
	<%= link_to "about me", about_index_path, :class => controller.class == AboutController ? "nav_link current" : "nav_link" %>
</div>