<div class="post">
  <div class="title">
      <div><%= @path %></div>
      <br />
      <div style="margin-left: 5%">&#9464;&#9471;&#9464;</div>
      <div class="metadata">page not found</div>
  </div>
</div>
