<div class="post">
  <div class="title">
      <div><%= @path %></div>
      <br />
      <p style="margin-left: 5%">&#9464;&#9471;&#9464;</p>
      <p class="metadata">page not found</p>
  </div>
</div>
