body {
	font-family: 'Courier', sans-serif;
}

a {
	text-decoration: none;
	background-color: rgb(255,222,255);
}
a:link {
	color: rgb(14,157,238);
}
a:visited {}
a:hover {
	background-color: rgb(255,182,255);
}
a:active{
	color: rgb(238,86,14);
}

.nav_links {
	right: 0px;
	top: 0px;
	position: absolute;
}

.nav_link {
	display: inline-block;
}

.nav_link_current a {
	text-decoration: none;
}

#header_visual {
	width:100%;
	height: 200px;
	margin-bottom: 2em;
	overflow: hidden;
}

.post {
	margin-bottom: 3em;
	display: inline-block;
	width: 100%;
}

.post .title {
	color: #333;
	font-size: 2em;
	margin-bottom: .5em;
	margin-left: 5%;
}

.post .metadata {
	margin-left: 5%;
}

.post .timestamp {
	display: inline-block;
	width: 100%;
	color: #333;
}

.post .tags {
	margin-top: .1em;
	height: 0px;
}


.post .tags .tag {
}

.tag a {
	background-color: rgb(255,222,255);
}
.tag a:link {
}
.tag a:visited {}
.tag a:hover {
	background-color: rgb(255,182,255);
}
.tag a:active{
}

.post .body {
	margin-left: 5%;
	font-family: Courier;
	font-size: .8em;
	margin-top: 5em;
}

.post .body p {
	letter-spacing: .1em;
	margin-top: .5em;
	line-height: 1.5em;
	color: #555;
	max-width: 35em;
}

@media all and (max-width: 50em) {
    .post .body p {
		max-width: 90%;
    }
}

.captioned_image {
	margin-bottom: 1em;
}

.image_caption .name {
	font-style: italic;
}

.image_caption .info {
	color: #aaa;
}

.pagination_info {
	width: 55%;
	float: right;
	margin-bottom: 10%;
	margin-right: 5%;
	border-top: 1px solid Magenta;
}

.pagination_links {
	float: right;
}

#about {
	float: right;
	width: 40%;
	margin-right: 15%;
	font-family: Courier;
	font-size: .8em;
}

#about p {
	letter-spacing: .1em;
	margin-top: .5em;
	line-height: 1.5em;
	color: #555;
}

.devise {
	display: inline-block;
	width: 100%;
	margin-bottom: 3em;
}

.devise h2 {
	float: right;
	width: 40%;
	margin-right: 15%;
	font-size: 1.3em;
}

.devise .pretty_pink_line {
	float: right;
	width: 40%;
	border-bottom: 1px solid Magenta;
	height: 1em;
}

.devise form,
.devise a {
	float: right;
	width: 40%;
	margin-right: 15%;
}

.devise form div {
	margin-top: .5em;
}

.devise input[type='submit'] {
	width: 20%;
	border: none;
	font-family: Iceland, Courier, sans-serif;
	font-size: 1em;
	background-color: #eee;
	color: #555;
}
